<%= form_with(model: part_stat, local: true) do |form| %>
  <% if part_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part_stat.errors.count, "error") %> prohibited this part_stat from being saved:</h2>

      <ul>
      <% part_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ratio %>
    <%= form.number_field :ratio, id: :part_stat_ratio %>
  </div>

  <div class="field">
    <%= form.label :stat_id %>
    <%= form.text_field :stat_id, id: :part_stat_stat_id %>
  </div>

  <div class="field">
    <%= form.label :part_id %>
    <%= form.text_field :part_id, id: :part_stat_part_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
