<%= form_with(model: rocket_part, local: true) do |form| %>
  <% if rocket_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rocket_part.errors.count, "error") %> prohibited this rocket_part from being saved:</h2>

      <ul>
      <% rocket_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level_up %>
    <%= form.text_field :level_up, id: :rocket_part_level_up %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
