<p id="notice"><%= notice %></p>

<h1>Rocket Parts</h1>

<table>
  <thead>
    <tr>
      <th>Level up</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rocket_parts.each do |rocket_part| %>
      <tr>
        <td><%= rocket_part.level_up %></td>
        <td><%= link_to 'Show', rocket_part %></td>
        <td><%= link_to 'Edit', edit_rocket_part_path(rocket_part) %></td>
        <td><%= link_to 'Destroy', rocket_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rocket Part', new_rocket_part_path %>
