<p id="notice"><%= notice %></p>

<h1>Part Costs</h1>

<table>
  <thead>
    <tr>
      <th>Cost</th>
      <th>Belongs to</th>
      <th>Belongs to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_costs.each do |part_cost| %>
      <tr>
        <td><%= part_cost.cost %></td>
        <td><%= part_cost.belongs_to %></td>
        <td><%= part_cost.belongs_to %></td>
        <td><%= link_to 'Show', part_cost %></td>
        <td><%= link_to 'Edit', edit_part_cost_path(part_cost) %></td>
        <td><%= link_to 'Destroy', part_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part Cost', new_part_cost_path %>
