<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @part_cost.cost %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @part_cost.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @part_cost.belongs_to %>
</p>

<%= link_to 'Edit', edit_part_cost_path(@part_cost) %> |
<%= link_to 'Back', part_costs_path %>
