.sidebar
  .rocket-infos
    %img{src: "#{rocket.image_url}"}/
    %h1= rocket.name
  .ressources
    - resources.each do |resource|
      %div{class: "ressource ressource-#{resource.name.downcase}"}
        .icon
          %img{alt: "#{resource.name}", class: "ressource-icon", src: "/images/ressources/#{resource.name}.png", :title => "#{resource.name}"}/
        .value
          = rocket.user_resources.find_by(resource: resource).quantity
  .parts
    - rocket.rocket_parts.each do |rocket_part|
      %div{class: "part part-#{rocket_part.part.name.downcase}"}
        .part-title
          .part-title-name= "#{rocket_part.part.name}"
          .part-title-level= "Level #{rocket_part.level}"
        .part-content
          - resources.each do |resource|
            %div{class: "part-upgrade part-upgrade-#{resource.name.downcase}"}
              .icon
                %img{alt: "#{resource.name}", class: "ressource-icon", :src => "/images/ressources/#{resource.name}.png", :title => "#{resource.name}"}/
              .cost
                = PartCost.find_by(part: rocket_part.part, resource: resource).cost
        .part-footer
          - if can? :level_up, rocket_part
            .part-upgrade-button
              = link_to 'Upgrade', level_up_rocket_part_path(rocket_part), method: :patch
