= form_with(model: rocket, local: true) do |form|
  - if rocket.errors.any?
    #error_explanation
      %h2
        = pluralize(rocket.errors.count, "error")
        prohibited this rocket from being saved:
      %ul
        - rocket.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :rocket_name
  .field
    = form.label :image_url
    = form.text_field :image_url, id: :rocket_image_url
  .actions
    = form.submit
