<div class="sidebar">
  <div class="ressources">
    <% @resources.each do |resource| %>
    <div class="ressource ressource-<%=  resource.name.downcase %>">
      <div class="icon">
        <%=  resource.name %>
      </div>
      <div class="value">
        <%=  @rocket.user_resources.find_by(resource: resource).quantity %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="parts">
    <% @rocket.rocket_parts.each do |rocket_part| %>
    <div class="part part-<%=  rocket_part.part.name.downcase %>">
      <div class="part-title"><%=  rocket_part.part.name %></div>
      <div class="part-content">
        <% @resources.each do |resource| %>
        <div class="part-upgrade-<%=  resource.name.downcase %>">
          <div class="icon">
            <%=  resource.name %>
          </div>
          <div class="cost">
            <%=  PartCost.find_by(part: rocket_part.part, resource: resource).cost %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="part-footer">
        <div class="part-level">Level: <%=  rocket_part.level %></div>
        <div class="part-upgrade-button">
          <%= link_to 'Upgrade', level_up_rocket_part_path(rocket_part), method: :patch %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="content">
  <div></div>
</div>
